body {
    background-color: burlywood;
    color: rgb(81, 27, 0);
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
}

.menu ul{
    background-color: brown;
}
.menu li{
    display:inline-block;
    margin-right:20px;
    margin-left:10px;
}
.menu a{
    color:white;
    text-decoration:none;
}
.menu a:hover{
    color:yellow
}
.event{
    background-color: lightgray;
    color:black;
    border:5px solid yellow;
    width:700px;
    padding: 20px;
    margin-top: 20px;
}
label {
  display: inline-block;
  text-align: center;
  width: 100px; /* 핵심 */
}
.pub {
    width:500px;
    border-radius: 0px;
    font-size: 20px;
    vertical-align: middle;
}
.pub_btn{
    width:120px;
    height:40px;
    background-color: burlywood;
    color: rgb(81, 27, 0);
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: brown;
    color:white;
    border-radius: 5px;
    font-size:20px;
}
.pub_btn:hover{
    background-color: burlywood;
    color: rgb(81, 27, 0);
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: yellow;
    color:brown;
}
.books{
    padding:5px 5px 5px 5px;
    width:1000px;
    height:120px;
    border:solid 3px yellow;
    background:white;
    box-shadow:5px 5px 5px rgb(85, 85, 85);
    margin-bottom:10px;
}
