<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Batman Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dokdo&display=swap" rel="stylesheet">
</head>
<body>
    <h1 style="font-size:50px"><a href="/index.html">🦇</a> Batman Library<span style="font-size:small"> - community</span></h1>
    <nav class="menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="library.html">Library</a></li>
            <li><a href="community.html">Community</a></li>
        </ul>
    </nav>
    <a href="content"><button class="con_btn">게시물 올리기</button></a>
    {% if contents %}
        {% for c in contents %}
            <div class="box">
                <p><span style="font-size:30px"><b>{{ c[1] }}</b></span> - {{ c[2] }}</p>
                <hr>
                <p>{{c[3]}}</p>
            </div>
        {% endfor %}
    {% else %}
        <h3>데이터가 없습니다.</h3>
    {% endif %}
</body>
</html>