<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <title>Batman Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Dokdo&display=swap" rel="stylesheet">
</head>
<body>
    <h1 style="font-size:50px" class="title"><a href="/index.html">🦇</a> Batman Library<span style="font-size:small"> - library</span></h1>
    <nav class="menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="library.html">Library</a></li>
            <li><a href="community.html">Community</a></li>
            <li><a href = "storage.html">Storage</a></li>
        </ul>
    </nav>
    <a href="publish"><button class="pub_btn">도서 출판</button></a>
    {% if books %}
        {% for book in books %}
            <div class="box">
                <a href="/pdf/{{book[1]}}.pdf" target="_blank"><button class="view-btn">책 읽기</button></a>
                <form action="store" method="get">
                    <button class="borr-btn" name="action" value="{{book[1]}}">보관함에 담기</button>
                </form>
                <p><span style="font-size:30px"><b>{{ book[1] }}</b></span> - {{ book[2] }}</p>
                <hr>
                <p>{{book[3]}}</p>
            </div>
        {% endfor %}
    {% else %}
        <h3>데이터가 없습니다.</h3>
    {% endif %}
</body>
</html>